ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color :#d90e79;
    
}

li {
    float: left;
}

li a {
    font-family: 'Roboto';font-size: 22px;
    display: block;
    color : #f8f8f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color : black ;
}

body {
    background-color:rgb(38, 31, 57);
}

.image_of_me {
    display: block;
    height: 300;
    width: 300;
    margin: 0;
    position: absolute;
    top: 35%;
    left : 60%;
    background-image: url("assets/me.jpg");
    background-size:cover;
    background-position-x: 35%;
    transform: scaleY(-1);
    border-style : solid;
    border-color: #f8f8f2;
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    
}

.aboutme {
    position: absolute;
    top: 30%;
    left : 10%;
    height: 300;
    width: 700;

}

.Header {
    font-family: 'Roboto';font-size: 30px;
    color :#f8f8f2;
    text-decoration: underline;
    text-decoration-color: #f8f8f2;
}

.description{
    font-family: 'Roboto';font-size: 22px;
    color :#f8f8f2;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.fa:hover {
  opacity: 0.7;
  padding: 26px;
}

/* Github */
.fa-github {
    position: absolute;
    bottom: 10px;
    left: 40%;
    background: rgb(32, 32, 32);
    color: white;
}

/* Twitter */
.fa-twitter {
    position: absolute;
    bottom: 10px;
    left: 46%;
  background: #55ACEE;
  color: white;

}


/* Instagram */
.fa-instagram {
    position: absolute;
    bottom: 10px;
    left: 52%;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: white;
}